nav {
    height: 125px;
    width: 100%;
    background-image: url(img/gaelle-marcel-_LzCTGpJyGE-unsplash\ \(4.\)5.jpg);
    background-image: center;
}
nav img {
    width: 86%;
    height: 125px;
    object-fit: cover;
}
.logobox {
    height: 118px;
    width: 250px;
    padding: 0px;
    margin-left: 1px;
    float: left;
}
nav li {
    float: right;
    list-style-type: none;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 90px;
    
}
nav a {
    color:  #faae7b ;
    text-decoration-line: none;
    text-transform: capitalize;
    font-weight: bold;
    font-family: 'Kaushan Script', cursive;
    font-size: 25px;
}
.contact1 {
    float: left;
    width: 40%;
    padding-left: 45px;
    padding-top: 40px;

}
h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 40px;
}
h2 { 
    font-family: 'Kaushan Script', cursive;
    font-size: 25px;
}
h3 {
    font-family: 'Architects Daughter', cursive;
}
.container2 {
    /* background-color: coral; */
    margin: 0%;
    padding-top: 60px;
    height: 750px;
    background-image: url(img/gr-stocks-1ytUKz_Ms8U-unsplash.jpg);
    
}
.container3 {
    width: 60%;
    background-color: #00acca;
    margin-left: 20%;
    margin-left: 20%;
    height: 600px;
    padding: 15px;
    border-radius: 5px;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
input [type=submit] {
    background-color: darkcyan;
    color: darkcyan;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
}
input [type=submit]:hover {
    background-color: darkgreen;
}
.container-form {
    border-radius: 5px;
    background-color: #7fadbc;
    padding: 20px;
    border: 3px solid #db7c26;
}
h4  {
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 40px;
}
h5 {
    text-align: center;
    font-family: 'Architects Daughter', cursive;
    font-size: 25px;
}
.phone {
    width: 48%;!important
}
.email {
    width: 48%; !important
}
.contact1 {
    background-image: url(img/mahbod-akhzami-6Crjd6r3ZyY-unsplash\ \(1\).jpg);
    background-position: center;
    height: 23rem;
}
.container2 {
    border-top: 5px solid #faae7b;
}
.container1 {
    border-top:  5px solid #faae7b ;
    margin-right: 0px;
    padding-right: 0px;
}
.contact2 {
    margin-right:  0px;
    margin-left: 10px;
    padding: 0px;
}
body { 
    background-color: #db7c26;
}